.vscode/
*/bin
*/obj
*/*/bin
*/*/obj
*/config.json
*/manifest.json
\[CP\] Visual Enemy Variety/Textures
\[AT\] Visual Monster Variety - Pre-Release
make_monster_sprite_list.py
variety_gen.py
_releases/
